html{
    background-color: #FFF;
    color: rgb(70, 70, 70);
    font-family: monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}

body {
    margin: 0;
    padding: 0;
    width: 25rem;
    height: 30rem;
}

#languages{

}

p {
    margin: 0;
    margin-top: 1.5rem;
}

a, a:visited{
    color: black;
    font-weight: bold;
    margin: 1.5rem;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 1.1rem;
}

a:hover {
    color: #00F;
}

#reversi{
    margin-bottom: -11px;
    margin-right: 0.5rem;
}

h4{
    margin-bottom: 1.5rem;
}

#reversiLabel{
}

#optionsContainer{
    display: none;
    position: absolute;
    z-index: 10;
    background: rgb(255, 255, 255);
    top: 3rem;
    left: 0;
    right: 0;
    text-align: center;
     
    font-family: serif;
    border-bottom: 1px solid hsl(0, 0%, 54%);
    height: 10.5rem;
    box-shadow: 0 3px 3px rgba(7, 7, 7, 0.09);
}

#optionsContainer, #optionsContainer button{ 
}

body.options #optionsContainer{
    display: inline-block;
}
