/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* This file defines styles for form controls. The order of rule blocks is
 * important as there are some rules with equal specificity that rely on order
 * as a tiebreaker. These are marked with OVERRIDE.
 */



/* Default state **************************************************************/


body.darkTheme button,
body.darkTheme select,
body.darkTheme input {
  background: #141618;
}

button,
input,
select {
  background: #F8F5F5;
  border: 1px solid hsla(0, 0%, 0%, 0.22);
  border-radius: 2px;
  min-height: calc(1.5rem - 1px);
  min-width: 7rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
}

/* Hover **********************************************************************/

button:hover{
  background: #5A5A5A;
  color: white;
}


button:focus,
input:focus,
select:focus {
  border-color: rgb(0, 0, 255);
}

