/* glue: 0.3 hash: 08ca320f51 */
.track_off,
.track_right:hover,
.track_left:hover,
.arrow_up_off,
.arrow_up:hover,
.arrow_down_off,
.arrow_down:hover,
.indicator_cross_yellow_off,
.indicator_cross_yellow:hover,
.indicator_cross_red_off,
.indicator_cross_red:hover,
.indicator_cross_green_off,
.indicator_cross_green:hover,
.indicator_cross_blue_off,
.indicator_cross_blue:hover,
.indicator_check_grey_off,
.indicator_check_grey:hover,
.indicator_check_green_off,
.indicator_check_green:hover,
.alert{background-image:url('tracker.png');background-repeat:no-repeat}
.track_off{background-position:-20px -20px;width:75px;height:30px;}
.track_right:hover{background-position:-20px -90px;width:75px;height:30px;}
.track_left:hover{background-position:-20px -160px;width:75px;height:30px;}
.arrow_up_off{background-position:-20px -230px;width:20px;height:30px;}
.arrow_up:hover{background-position:-20px -300px;width:20px;height:30px;}
.arrow_down_off{background-position:-20px -370px;width:20px;height:30px;}
.arrow_down:hover{background-position:-20px -440px;width:20px;height:30px;}
.indicator_cross_yellow_off{background-position:-20px -510px;width:24px;height:24px;}
.indicator_cross_yellow:hover{background-position:-20px -574px;width:24px;height:24px;}
.indicator_cross_red_off{background-position:-20px -638px;width:24px;height:24px;}
.indicator_cross_red:hover{background-position:-20px -702px;width:24px;height:24px;}
.indicator_cross_green_off{background-position:-20px -766px;width:24px;height:24px;}
.indicator_cross_green:hover{background-position:-20px -830px;width:24px;height:24px;}
.indicator_cross_blue_off{background-position:-20px -894px;width:24px;height:24px;}
.indicator_cross_blue:hover{background-position:-20px -958px;width:24px;height:24px;}
.indicator_check_grey_off{background-position:-20px -1022px;width:24px;height:24px;}
.indicator_check_grey:hover{background-position:-20px -1086px;width:24px;height:24px;}
.indicator_check_green_off{background-position:-20px -1150px;width:24px;height:24px;}
.indicator_check_green:hover{background-position:-20px -1214px;width:24px;height:24px;}
.alert{background-position:-20px -1278px;width:20px;height:20px;}
