@charset "utf-8";
/* CSS Document */

#console {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: white;



    text-align: left;
    font-weight: bold;
    margin-top: 1.5rem;
    color: black;
    padding: 0;
    margin: 0;
    margin-top: 1.5rem;
}

#results{
    display: block;
    height: 5em;
    -webkit-transition: opacity 0.5s ease-out;
    overflow: hidden;
}

#results.error {
    display: block;
    opacity: 0.5;
}

.jqconsole-header {
    color: rgb(70, 70, 70);
}

.jqconsole {
    padding: 0 1.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.jqconsole-cursor {
    background-color: #C4C4C4;
}

.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}

.jqconsole-prompt {
    color: green;
    -webkit-transition: color 0.5s ease-out;
}

.jqconsole-prompt.error, .jqconsole-prompt{
    opacity: 1;
}

.jqconsole-old-prompt {
    color: rgb(17, 17, 17);
}

.jqconsole-old-prompt:before, .jqconsole-prompt:before {
    content: ">";
}

.jqconsole-prompt:before {
    color: hsl(0, 0%, 31%);
}
.jqconsole-old-prompt:before{
    color: hsl(0, 0%, 73%);
}

.jqconsole-input {
    color: #dd0;
}

.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}

.error, .jqconsole-prompt.error{
    color: rgb(106, 44, 44);
}

.output, .jqconsole-old-prompt, .error, #results{
    font-weight: normal;
}


.paran, .brace, .bracket {
    color: #90F;
}

.jqconsole-composition {
    background-color: red;
}
