/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* This file defines styles for form controls. The order of rule blocks is
 * important as there are some rules with equal specificity that rely on order
 * as a tiebreaker. These are marked with OVERRIDE.
 */



input[type='range']{
    background: #ccc;
    height:40px;
}

input[type='range']::-webkit-slider-thumb{
    background:#aaa;
    height:45px;
    width:45px;
    border-radius: 30px;
}


/* Default state **************************************************************/

button,
input,
select {
  background-image: -webkit-linear-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 98%) 38%, hsl(0, 0%, 95%));
  border: 1px solid hsla(0, 0%, 0%, 0.08);
  border-radius: 2px;
  box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.08),       inset 0 1px 2px hsla(0, 100%, 100%, 0.75);
  text-shadow: 0 1px 0 hsl(0, 0%, 96%);
}

button.highlight, button.highlight:hover,
input.highlight, input.highlight:hover,
select.highlight, select.highlight:hover{
  background-image: -webkit-linear-gradient(#0041E7, #0041E7 38%, #2414E0);
  color: white;
  box-shadow: none; 
  text-shadow: none;
}

button,
input[type='button'],
input[type='submit'] , select{
  min-height: 2em;
  font-size: 16px;
  min-width: 121px;
  width: 20%;
  margin-right: -1px;
  margin-left: 0;
}

input[type='checkbox'] {
  bottom: 2px;
  height: 13px;
  position: relative;
  vertical-align: middle;
  width: 13px;
}

input[type='radio'] {
  /* OVERRIDE */
  border-radius: 100%;
  bottom: 3px;
  height: 15px;
  position: relative;
  vertical-align: middle;
  width: 15px;
}

/* Hover **********************************************************************/

button:hover,
select:hover,
input:hover {
  position: relative;
  top: -1px;
  background-image: linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12),
      inset 0 1px 2px rgba(255, 255, 255, 0.95);
  color: black;
}

/* Active *********************************************************************/

button:active,
input:active,
select:active{
  position: relative;
  top: 1px;
  background-image: linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  text-shadow: none;
}

select:active {
  /* OVERRIDE */
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAWklEQVQokWNgoAOIAuI0PDiKaJMSgYCZmfkbkPkfHYPEQfJEG/b//3+FBQsWLGRjY/uJbBCIDxIHyRNtGDYDyTYI3UA+Pr4vFBmEbODbt2+bKDYIyUBWYtQBAIRzRP/XKJ//AAAAAElFTkSuQmCC"),
      linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
}

/* Disabled *******************************************************************/

button:disabled,
input:disabled,
select:disabled {
  background-image: linear-gradient(#f1f1f1, #f1f1f1 38%, #e6e6e6);
  border-color: rgba(80, 80, 80, 0.2);
  box-shadow: 0 1px 0 rgba(80, 80, 80, 0.08),
      inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #aaa;
}

input[type='checkbox']:disabled,
input[type='radio']:disabled {
  opacity: .75;
}

input:disabled {
  color: #999;
}

/* Focus **********************************************************************/

button:focus,
input:focus,
select:focus {
  /* OVERRIDE */
  transition: border-color 200ms;
  /* We use border color because it follows the border radius (unlike outline).
   * This is particularly noticeable on mac. */
  border-color: rgb(77, 144, 254);
  outline: none;
}

