<div id="footer" role="contentinfo">
	<%= t("copyright", "<a href='http://www.evidon.com' target='_blank'>EVIDON, Inc.</a>, 10 East 39<sup>th</sup> Street, 8<sup>th</sup> Floor, New York, NY 10016") %>
</div>
