body{# background-color:#F7F7F7;}#piechart{margin-top:40px;background-color:#F7F7F7;}#popupTimes{width:100%;margin-top:0;font-size:120%;text-align:center;}.notice{display:none;margin-top:20%;width:100%;font-size:180%;text-align:center;}