<%
var _select = require('tpl/_select');
%>

<table id="app-list-table" class="app-browser" role="grid">
	<thead>
		<tr>
			<th colspan="4">
				<table style="width: 100%;">
					<tbody>
						<tr>
							<td style="padding: 35px 0 35px 55px; width: 43%; vertical-align: top;">
								<div style="border-right: 1px solid #d7d7d7; padding-right: 40px;">

									<span id="block-status"></span>
									<br>
									<br>
									<span style="font-size: .75em;">
										<%= t("options_blocking3") %>
									</span>
								</div>
							</td>
							<td style="text-align: right; padding: 35px 55px 35px 0; vertical-align: top; white-space: nowrap;">
								<div style="font-weight: bold; font-size: .875em; padding-left: 40px;">
									<p>
										<%= t('tracker_browser_type_filter', _select({
											id: 'app-list-filter-type',
											options: [
												{ name: t("all"), value: 'all' },
												{ name: t("blocked"), value: 'blocked' },
												{ name: t("unblocked"), value: 'unblocked' },
												{ name: t("new_since_last_update"), value: 'new' }
											]
										})) %>
									</p>
									<p>
									<% // TODO what's going with this? %>
									<%= t('tracker_browser_name_filter', 
										'<input type="text" class="app-list-filter-name" id="app-list-filter-name" placeholder="'
										+ t("tracker_browser_name_filter_placeholder") + '">'
										+ '<span id="app-list-reset-search"></span>') %>
									</p>
									<!-- <p>
										<a href="#" id="app-list-reset-search"><%- t('tracker_browser_filters_reset') %></a>
									</p> -->
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</th>
		</tr>
		<tr class="app-toggles">
			<th class="app-toggles-divs" colspan="4">
				<a href="#" id="expand-all"><%- t("toggle_expand_all") %></a>
				<span class="vr"></span>
				<a href="#" id="collapse-all"><%- t("toggle_collapse_all") %></a>
				<span class="vr"></span>
				<a href="#" id="select-all"><%- t("toggle_select_all") %></a>
				<span class="vr"></span>
				<a href="#" id="select-none"><%- t("toggle_select_none") %></a>
			</th>
		</tr>
	</thead>

	<tbody id="trackers">
	</tbody>

	<tbody id="no-results">
		<tr>
			<td colspan="4">
				<%- t('no_results') %>
			</td>
		</tr>
	</tbody>
</table>
