<td class="app-arrow">&nbsp;</td>
<td class="app-checkbox">
	<input type="checkbox"<% if (selected) print(' checked') %>>
</td>
<td class="app-row-name">
	<a href="https://www.ghostery.com/apps/<%- encodeURIComponent(name.replace(/\s+/g, '_').toLowerCase()) %>"><%- name%></a>
</td>
