<div class="ellipsis" id="block-default-message">
	<%- t("block_by_default_helper_text") %>
	<span>
		<a href="#" id="block-default-disable"><%- t("block_by_default_helper_cancel") %></a>
	</span>
	<span id='block-default-msg-close'></span>
</div>
