<p>
	<%= t("options_sharing_notice") %>
</p>

<p>
	<%= t("options_sharing1") %>
</p>

<div id="ghostrank-moreinfo" style="display:none">
	<p>
		<%= t("options_sharing2") %>
	</p>
	<p>
		<%= t("options_sharing3") %>
	</p>
	<p>
		<%= t("options_sharing4") %>
	</p>
	<p>
		<%= t("options_sharing5") %>
	</p>
</div>

<p style="margin-top:0">
	... <a href="#" id="ghostrank-moreinfo-link" aria-labelledby="ghostrank-moreinfo"><%- t("see_more") %></a>
</p>
