<div id="header">

	<% if (show_walkthrough_progress) { %>
		<div id="walkthrough-progress">
			<span class="circle active"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<div style="clear:both"></div>
		</div>
	<% } %>

		<div id="header-top">
			<img id="ghostery-about" src="images/ghostery_about.png"/>
			<div id="header-top-text">

				<% if (typeof ratelink_url != 'undefined') { %>
					<div id="header-rate-survey">
						<%- t('rate_ghostery_link1') %>
						<a href="<%- ratelink_url %>">
							<%- t('rate_ghostery_link2') %>
						</a>
						<%= t('survey_link_also', 'https://www.ghostery.com/survey') %>
					</div>
				<% } else if (typeof survey_link != 'undefined') { %>
					<div id="header-rate-survey">
						<%= t('survey_link', 'https://www.ghostery.com/survey') %>
					</div>
				<% } %>

				<% if (show_walkthrough_skip) { %>
				<button id="skip-button" class="blue-buttons"><%- t("walkthrough_skip_button") %></button>
				<% } %>

			</div>
		</div>
		<div id="header-bottom">
			<h1 id="header-title" style="float: left; "><%- t('options_header') %></h1>
			<% if (show_walkthrough_link) { %>
				<div style="max-width: 320px; position: absolute; padding: 15px 20px; background-color: #078ED6; border-radius: 10px; font-size: .9em; margin-top: 10px; color: #fff; top: 20px; right: 50px; text-align: center;">
					<%= t('walkthrough_link') %>
					<!-- For a walkthrough of Ghostery's key options,<br />
					try the <a href="walkthrough.html" id="walkthrough-link">Ghostery Configuration Wizard</a> -->
				</div>
			<% } %>
			<div style="clear: both;"></div>
			<% if (typeof show_tabs != 'undefined' && show_tabs) { %>
				<ul class="tabs" role="navigation">
					<li class="active" id="general-tab" href="#general" data-tab-contents-selector="#general-options" aria-label="general options section">
						<%- t('options_general_tab') %>
					</li>
					<li id="advanced-tab" href="#advanced" data-tab-contents-selector="#advanced-options" aria-label="advanced options section">
						<%- t('options_advanced_tab') %>
					</li>
					<li id="about-tab" href="#about" data-tab-contents-selector="#about-options" aria-label="about ghostery section">
						<%- t('options_about_tab') %>
					</li>
				</ul>
			<% } %>
		</div>
	
</div>
