<div class="app-info-container">
	<div class="app-arrow <% if (expand_sources) print('down') %>"></div>
	<div class="app-text">
		<div style="display: table-cell; vertical-align: middle; max-width: 185px;">
			<div class="app-name ellipsis <% if (blocked) print('blocked') %>"><%- name %></div>
			<div class="app-type ellipsis"><%- t('category_' + category) %></div>
		</div>
	</div>
</div>
<div class="blocking-controls no-select" title="">
	<div class="selective-unblock-control right">
		<div class="app-site-blocking <%- siteSpecificUnblocked ? 'on' : 'off' %>"
			title="<%- t('panel_tracker_site_specific_unblock_tooltip_' + (siteSpecificUnblocked ? 'on' : 'off'), name, page_host) %>"></div>
	</div>
	<div class="global-blocking-control right <% print(globalBlocked ? 'blocked' : 'unblocked') %>">
		<div class="app-global-blocking <% print(globalBlocked ? 'blocked' : 'unblocked') %> <% if (whitelisted) print('whitelisted') %> <% if (pauseBlocking) print('paused') %>" title="<%- t('panel_tracker_global_block_tooltip', name) %>"></div>
	</div>
	<div class="clear"></div>
</div>
<% if (hasCompatibilityIssue) { %>
<div class="tracker-alert right" title="<%- t('panel_tracker_compatibility_warning', page_host) %>">
</div>
<% } %>
<div class="clear"></div>
<div class="app-moreinfo ellipsis" <% if (!expand_sources) print('style="display:none"') %>>
	<a class="app-moreinfo-link ellipsis" target="_blank"
		href="http://www.ghostery.com/apps/<%- encodeURIComponent(name.replace(/\s+/g, '_').toLowerCase()) %>">
		<%- t('panel_tracker_more_info', name) %>
	</a>
</div>
<div class="app-srcs-container" <% if (!expand_sources) print('style="display:none"') %>>
	<div style="margin-bottom:0px" class="app-srcs-title ellipsis"><%- t('panel_tracker_found_sources_title') %></div>
	<div class="app-srcs">

	<% sources.forEach(function (source) { %>
		<div class="app-src">
			<div class="clip">
				<% // TODO i18n %>
				<div class="message">Copied to Clipboard!</div>
				<div class="message-arrow bottom"></div>
			</div>
			<!--
			<div class="zero-clip" title="<%/*- source.src*/ %>"></div>
			-->
			<div class="ellipsis">
				<a target="_blank" class="app-src-link<% if (source.blocked) print(' blocked') %>"
					href="http://www.ghostery.com/gcache/?n=<%- encodeURIComponent(name) %>&s=<%- encodeURIComponent(source.src) %>&v=2&t=<%- source.type %>">
					<%- source.src %>
				</a>
			</div>
		</div>
	<% }) %>

	</div>
</div>
