<%
var _app_browser = require('tpl/_app_browser'),
	_ghostrank = require('tpl/_ghostrank'),
	_select = require('tpl/_select'),
	_header = require('tpl/_header'),
	_footer = require('tpl/_footer'),
	_library_li = require('tpl/_library_li'),
	_block_by_default_helper = require('tpl/_default_block_all');
%>

<%= _header({
	ratelink_url: 'https://chrome.google.com/webstore/detail/mlomiejdfkolichcflejclcbmpeaniij/reviews',
	show_tabs: true,
	show_walkthrough_link: true,
	show_walkthrough_progress: false,
	show_walkthrough_skip: false,
	survey_link: true
}) %>

<div class="options-div" id="general-options">
	<table>
		<tr>
			<th>
				<%- t("options_sharing_header") %>
			</th>
			<td>
				<%= _ghostrank() %>
				<br />
				<input type="checkbox" id="ghostrank"<% if (conf.ghostrank) print(' checked') %>>
				<label for="ghostrank"><%- t("options_ghostrank") %></label>
			</td>
		</tr>

		<tr>
			<th>
				<%- t("options_autoupdate_header") %>
			</th>
			<td>
				<p>
					<%- t("walkthrough_autoupdate1") %>
				</p>
				<br />
				<input type="checkbox" id="enable_autoupdate"<% if (conf.enable_autoupdate) print(' checked') %>>
				<label id="update" for="enable_autoupdate"><%- t("options_autoupdate") %></label>
				<br />
				<input type="checkbox" style="visibility:hidden">
				<span style="font-size:small; padding-left:3px">
					<span id="apps-last-updated">
						<%- t('library_never_updated') %>
					</span>
					<span id="update-now-span">
						<a href="#" id="update-now-link" aria-label="Press to immediately update Ghostery tracker lists"><%- t('library_update_now_link') %></a>
					</span>
				</span>
			</td>
		</tr>

		<tr>
			<th>
				<%- t("options_blocking_header") %>
			</th>
			<td>
				<p>
					<%- t("options_blocking1") %>
				</p>
				<p style="margin-bottom:25px">
					<em><%- t("note") %></em>
					<%= t("options_blocking2") %>
				</p>

				<ul class="tabs app-browser-tabs" id="tabs-apps" role="navigation">
					<li class="active" id="apps-tab" href="#apps" data-tab-contents-selector="#app-list-table" aria-label="Tracker browser tab">
						<%- t("options_trackers_tab") %>
					</li>
					<li id="sites-tab" href="#sites" data-tab-contents-selector="#whitelist-div" aria-label="Blocking-exempt sites tab">
						<%- t("options_sites_tab") %>
					</li>
				</ul>
				<div style="clear: both;"></div>

				<%= _app_browser() %>
				<table id="whitelist-div" class="app-browser" style="display:none;">
					<thead>
						<tr>
							<th colspan="2" style="font-weight: 100; padding: 35px 55px 0 55px; font-size: .75em;">
								<p>
									<%- t("site_whitelist_description") %>
								</p>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th style="font-weight: bold; padding: 35px 55px 0 55px; font-size: .875em;" colspan="2">
								<%- t("site_whitelist_help") %>
							</th>
						</tr>
						<tr>
							<td style="width: 72%; padding: 10px 0 0 55px; vertical-align: top; font-size: .875em;">
								<input type="text" id="whitelist-add-input" value="" autocomplete="off" placeholder="example.com">
								<div id="whitelist-error" style="display:none">
									<span id='whitelist-error-msg'></span>
									<span id="whitelist-error-msg-close"></span>
								</div>
							</td>
							<td style="padding: 10px 55px 0 15px; vertical-align: top; font-size: .875em;">
								<button id="whitelist-add-button" class="blue-buttons"><%- t("whitelist_add_button") %></button>
							</td>
						</tr>
						<tr>
							<th style="font-weight: bold; padding: 35px 55px 0 55px; font-size: .875em;" colspan="2">
								<%- t("whitelisted_sites_header") %>
							</th>
						</tr>
						<tr>
							<td style="width: 72%; padding: 10px 0px 35px 55px; vertical-align: top; font-size: .875em;">
								<select multiple="multiple" id="whitelist"></select>
							</td>
							<td style="padding: 10px 55px 35px 15px; vertical-align: top; font-size: .875em;">
								<button id="whitelist-remove-button" class="blue-buttons"><%- t("whitelist_remove_button") %></button>
								<br />
								<button id="whitelist-remove-all-button" class="blue-buttons" style="margin-top: 10px;"><%- t("whitelist_remove_all_button") %></button>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<th style="border-bottom: none;">&nbsp;</th>
			<td style="border-bottom: none; border-left: none; text-align: left;">
				<div id="buttons">
					<button class="save-button blue-buttons" disabled><%- t("options_save_button") %></button>
					<button class="cancel-button blue-buttons" disabled><%- t("options_cancel_button") %></button>
				</div>
			</td>
		</tr>
		<tr>
			<th style="border: none; padding-top: 0; padding-bottom: 0;">&nbsp;</th>
			<td style="border: none; padding-top: 0; padding-bottom: 0;">
				<%= _footer() %>
			</td>
		</tr>
	</table>
</div>

<div class="options-div" id="advanced-options" style="display:none">
	<table>
		<tr>
			<th>
				<%- t("options_display_header") %>
			</th>
			<td>
				<p>
					<input type="checkbox" id="show-alert"<% if (conf.show_alert) print(' checked') %>>
					<%= '<label for="show-alert">' +
					t("options_alert_bubble", [
						'</label>' +
							'<span id="alert-bubble-help" class="help">' +
							t('alert_bubble') +
							'</span><span id="alert-bubble-options"' +
								(!conf.show_alert ? ' style="display:none"' : '') +
							'>',

						_select({
							id: 'alert-bubble-pos',
							options: [
								{ name: t("corner1"), value: 'tr' },
								{ name: t("corner2"), value: 'tl' },
								{ name: t("corner3"), value: 'br' },
								{ name: t("corner4"), value: 'bl' }
							],
							selected: conf.alert_bubble_pos
						}),

						_select({
							id: "alert-bubble-timeout",
							options: [60, 30, 25, 20, 15, 10, 5, 3],
							selected: conf.alert_bubble_timeout
						})
					]) + '</span>' %>
				</p>
				<p>
					<input type="checkbox" id="expand_sources"<% if (conf.expand_sources) print(' checked') %>>
					<label for="expand_sources"><%- t('options_script_sources') %></label>
					<%= t('options_in_the_findings_panel') %>
				</p>
				<p>
					<input type="checkbox" id="show-badge"<% if (conf.show_badge) print(' checked') %>>
					<label for="show-badge"><%= t('options_badge_chrome') %></label>
				</p>
			</td>
		</tr>

		<tr>
			<th>
				<%- t("options_autoupdate_header") %>
			</th>
			<td>
				<p>
					<input type="checkbox" id="block-by-default"<% if (conf.block_by_default) print(' checked') %>>
					<label for="block-by-default"><%- t("options_block_by_default") %></label>
				</p>
				<p>
					<input type="checkbox" id="notify-library-updates"<% if (conf.notify_library_updates) print(' checked') %>>
					<label for="notify-library-updates"><%- t("options_notify_of_library_updates") %></label>
				</p>
			</td>
		</tr>

		<tr>
			<th>
				<%- t("options_click2play_header") %>
			</th>
			<td>
				<p>
					<input type="checkbox" id="click2play"<% if (conf.enable_click2play) print(' checked') %>>
					<label for="click2play"><%- t("options_click2play1") %></label>
				</p>
				<p>
					<input type="checkbox" style="visibility:hidden">
					<label><span id="click2play-help" class="help"><%- t("options_click2play2")%></span></label>
				</p>

				<p id="show-c2p-buttons"<% if (!conf.enable_click2play) print(' style="display:none"') %>>
					<input style="margin-left:40px" type="checkbox" id="click2play-buttons"<% if (conf.enable_click2play_social) print(' checked') %>>
					<label for="click2play-buttons"><%- t("options_click2play_buttons1") %></label>
					<span id="click2play-buttons-help" class="help">
						<%- t("options_click2play_buttons2") %>
					</span>
				</p>
			</td>
		</tr>

		<tr>
			<th style="border-bottom: none;">&nbsp;</th>
			<td style="border-bottom: none; border-left: none; text-align: left;">
				<div id="buttons">
					<button class="save-button blue-buttons" disabled><%- t("options_save_button") %></button>
					<button class="cancel-button blue-buttons" disabled><%- t("options_cancel_button") %></button>
				</div>
			</td>
		</tr>

		<% /* TODO GHOST-159 %>
		<tr>
			<th>
				<%- t("options_language_header") %>
			</th>
			<td>
				<p>
				<%
				// ensure that "Show Ghostery in LANGUAGE" is grammatical in that language
				languages[conf.language] = t('options_language_language');

				// convert to _select's format
				languages = _(languages)
					.chain()
					.reduce(function (memo, value, key) {
						memo.push({
							name: value,
							value: key
						});
						return memo;
					}, [])
					.sortBy(function (l) { return l.value; })
					.value();
				%>
				<%= t('options_language', _select({
					id: 'language',
					options: languages,
					selected: conf.language
				})) %>
				</p>
			</td>
		</tr>
		<% */ %>
		<tr>
			<th style="border: none; padding-top: 0; padding-bottom: 0;">&nbsp;</th>
			<td style="border: none; padding-top: 0; padding-bottom: 0;">
				<%= _footer() %>
			</td>
		</tr>
	</table>
</div>

<div class="options-div" id="about-options" style="display:none">
		<h1 style="padding: 0; margin: 0;"><%- t("help_version_text", ghostery_version) %></h1>
		<p>
			<%- t("short_description") %>
		</p>
		<p style="margin-bottom: 50px;">
			<a class="about-links" href="ghostery_eula.txt"><%- t("license_link") %></a>
			<span class="vr"></span>
			<a class="about-links" href="http://www.ghostery.com/privacy"><%- t("privacy_policy_link") %></a>
			<span class="vr"></span>
			<a class="about-links" href="http://www.ghostery.com"><%- t("homepage_link") %></a>
		</p>
		<div style="clear:both;"></div>

	<table>
		<tr>
			<th>
				<%- t("help_help_header") %>
			</th>
			<td>
				<p>
					<%= t("help_text1") %>
				</p>
				<p>
					<%= t("help_text2") %>
				</p>
			</td>
		</tr>

		<tr>
			<th><%- t("help_credits_header") %></th>
			<td>
				<p>
					<%- t("credits_description") %>
				</p>
				<ul id="code-libraries">
					<% _(libraries)
						.chain()
						.sortBy(function (l) { return l.name.toLowerCase() })
						.each(function (library, i) {
							library.id = i %>
							<%= _library_li(library, { variable: 'library' }) %>
						<% }) %>
				</ul>
			</td>
		</tr>
		<tr>
			<th style="border: none; padding-top: 0; padding-bottom: 0;">&nbsp;</th>
			<td style="border: none; padding-top: 0; padding-bottom: 0;">
				<%= _footer() %>
			</td>
		</tr>
	</table>
</div>

<div id="saving-options-notice-overlay"></div>
<div id="saving-options-notice">
	<div><%- t("options_saving_exit_message") %></div>
</div>

<%= _block_by_default_helper() %>
