<div id="tooltip" class="message"></div>
<div id="close-panel"></div>
<div id="header">
	<div id="header-icon"></div>
	<div id="header-text">
		<div class="vertical-center" style="height: 55px; width: 210px;">
			<div id="ghostery-findings-text" class="ellipsis"><%- t('panel_title_not_scanned') %></div>
		</div>
		<div id="website-info">
			<div id="website-url" class="ellipsis left"></div>
			<div id="website-whitelisted" class="left">&nbsp;<%= t('panel_subtitle_whitelisted') %></div>
		</div>
	</div>
	<div class="tooltip" id="settings-button" title="<%- t('panel_tooltip_settings') %>">
	</div>
</div>

<div id="settings" class="no-select">
	<div class="settings-buttons" id="options-button"><%- t('panel_settings_options') %></div>
	<div class="settings-buttons" id="support-button"><%- t('panel_settings_support') %></div>
	<div class="settings-buttons" id="feedback-button"><%- t('panel_settings_feedback') %></div>
	<div class="settings-buttons" id="share-button"><%- t('panel_settings_share') %></div>
</div>

<div id="apps-div">
	<div class="no-trackers">
		<div class="vertical-center">
			<%= t('panel_not_scanned') %>
		</div>
	</div>
</div>

<div id="reload"><%= t('panel_needs_reload') %><div id="reload-close"></div></div>

<div id="footer" class="no-select">
	<div unselectable="on" class="footer-button ellipsis left" id="pause-blocking-button" style="margin-left: 7px;" title="<%- t('panel_button_pause_blocking_tooltip') %>">
		<%- t('panel_button_pause_blocking') %>
	</div>
	<div unselectable="on" class="footer-button ellipsis left disabled" id="whitelisting-button" title="<%- t('panel_button_whitelist_site_tooltip') %>">
		<%- t('panel_button_whitelist_site') %>
	</div>
	<div class="footer-button left tooltip" id="help-button" title="<%- t('panel_tooltip_help') %>"></div>
</div>

<div id="tutorial-container">

	<div class="tutorial-arrow" id="tutorial-arrow-left"></div>
	<div class="tutorial-arrow" id="tutorial-arrow-right"></div>

	<div id="tutorial-controls" class="no-select">
		<div class="tutorial-control" id="tutorial-control-1"></div>
		<div class="tutorial-control" id="tutorial-control-2"></div>
		<div class="tutorial-control" id="tutorial-control-3"></div>
		<div class="tutorial-control" id="tutorial-control-4"></div>
		<div class="tutorial-control" id="tutorial-control-5"></div>
		<div class="tutorial-control" id="tutorial-control-6"></div>
		<div class="tutorial-control" id="tutorial-control-7"></div>
		<div class="tutorial-control" id="tutorial-control-8"></div>
		<div class="tutorial-control" id="tutorial-control-9"></div>
		<div class="tutorial-control" id="tutorial-control-10"></div>
	</div>

	<div id="tutorial-close"><%- t('panel_tutorial_close') %></div>

	<div id="tutorial-screens">

		<div id="tutorial-screen-1" class="tutorial-screen">
			<div class="vertical-center">
				<div class="title-large"><%- t('panel_tutorial_screen_welcome_title') %></div>
				<div class="text-large"><%- t('panel_tutorial_screen_welcome_content') %></div>
			</div>
		</div>

		<div id="tutorial-screen-2" class="tutorial-screen">
			<div class="title-small"><%- t('panel_tutorial_screen_findings_panel_title') %></div>
			<div class="text-center">
				<div class="vertical-center">
					<img class="center-image" src="images/panel/tutorial/panel.png" style="height:100px; width:100px">
					<div class="text-large"><%- t('panel_tutorial_screen_findings_panel_content') %></div>
				</div>
			</div>
		</div>

		<div id="tutorial-screen-3" class="tutorial-screen">
			<div class="title-small"><%- t('panel_tutorial_screen_blocking_controls_title') %></div>
			<div class="text-center">
				<div class="vertical-center">
					<img class="center-image" src="images/panel/tutorial/blocking_controls.png">
					<div class="text-large"><%= t('panel_tutorial_screen_blocking_controls_content') %></div>
				</div>
			</div>
		</div>

		<div id="tutorial-screen-4" class="tutorial-screen">
			<div class="title-small"><%- t('panel_tutorial_screen_global_block_title') %></div>
			<div class="text-center">
				<div class="vertical-center">
					<div class="blocking-control-image">
						<img class="left-image right" src="images/panel/tutorial/indicator_cross_red.png">
					</div>
					<div class="text-large"><%= t('panel_tutorial_screen_global_block_content') %></div>
				</div>
			</div>
		</div>

		<div id="tutorial-screen-5" class="tutorial-screen">
			<div class="title-small"><%- t('panel_tutorial_screen_global_unblock_title') %></div>
			<div class="text-center">
				<div class="vertical-center">
					<div class="blocking-control-image">
						<img class="left-image" src="images/panel/tutorial/indicator_cross_blue.png">
					</div>
					<div class="text-large"><%= t('panel_tutorial_screen_global_unblock_content') %></div>
				</div>
			</div>
		</div>

		<div id="tutorial-screen-6" class="tutorial-screen">
			<div class="title-small"><%- t('panel_tutorial_screen_site_specific_title') %></div>
			<div class="text-center">
				<div class="vertical-center">
					<div class="blocking-control-image right-only">
						<img class="right-image" src="images/panel/tutorial/indicator_check_green.png">
					</div>
					<div class="text-large"><%= t('panel_tutorial_screen_site_specific_content') %></div>
				</div>
			</div>
		</div>

		<div id="tutorial-screen-7" class="tutorial-screen">
			<div class="title-small"><%- t('panel_tutorial_screen_pause_blocking_title') %></div>
			<div class="text-center">
				<div class="vertical-center">
					<div class="blocking-control-image">
						<img class="left-image right" src="images/panel/tutorial/indicator_cross_yellow.png">
					</div>
					<div class="text-large"><%= t('panel_tutorial_screen_pause_blocking_content', t('panel_button_pause_blocking')) %></div>
				</div>
			</div>
		</div>

		<div id="tutorial-screen-8" class="tutorial-screen">
			<div class="title-small"><%- t('panel_tutorial_screen_whitelist_title') %></div>
			<div class="text-center">
				<div class="vertical-center">
					<div class="blocking-control-image">
						<img class="left-image right" src="images/panel/tutorial/indicator_cross_green.png">
					</div>
					<div class="text-large"><%= t('panel_tutorial_screen_whitelist_content', t('panel_button_whitelist_site')) %></div>
				</div>
			</div>
		</div>

		<div id="tutorial-screen-9" class="tutorial-screen">
			<div class="title-small"><%- t('panel_tutorial_screen_more_options_title') %></div>
			<div class="text-center">
				<div class="vertical-center">
					<img class="center-image" src="images/panel/tutorial/settings.png">
					<div class="text-large"><%= t('panel_tutorial_screen_more_options_content', t('panel_settings_options')) %></div>
				</div>
			</div>
		</div>

		<div id="tutorial-screen-10" class="tutorial-screen">
			<div class="vertical-center">
				<div class="title-large"><%- t('panel_tutorial_screen_final_title') %></div>
				<div class="text-small"><%= t('panel_tutorial_screen_final_content1') %></div>
				<br>
				<div class="text-small"><%= t('panel_tutorial_screen_final_content2') %></div>
				<br>
				<div class="text-small"><%= t('panel_tutorial_screen_final_content3') %></div>
			</div>
		</div>
	</div>
</div>
