/* About */
.about-links {
	float: left;
	padding-bottom: 6px;
}

.license-text {
	background-color: #eee;
	display: none;
	font-size: small;
	padding: 5px;
}

.license-link {
	float: right;
}

/* General */
#whitelist-div input {
	width: 100%;
	height: 30px;
	border: 1px solid #d7d7d7;
	font-size: .875em;
	font-weight: bold;
	padding: 0;
}

#whitelist-div select {
	width: 100%;
	height: 125px;
	border: 1px solid #d7d7d7;
}

#whitelist-error {
	border: 1px solid transparent;
	height: 26px;
	padding: 2px;
	line-height: 26px;
	top: 2px;
	left: -2px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	color: #fff;
	text-shadow: 1px 1px #555;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,0,0,1)), color-stop(100%,rgba(146,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(214,0,0,1) 0%, rgba(146,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(214,0,0,1) 0%,rgba(146,0,0,1) 100%); /* W3C */
	width: 100%;
	position: relative;
}

#whitelist-error-msg-close {
	position: absolute;
	background: url('../images/panel/tutorial/close_hover.png') no-repeat center;
	height: 20px;
	width: 20px;
	top: 5px;
	right: 3px;
	cursor: pointer;
}
