body {
	 margin: 0;
	 font: 17px Helvetica, sans-serif, sans;
	 color: #666;
	 min-width: 800px;
}

a {
	color: #00b5f0;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 16px 0 0 0;
}

table {
	border-collapse: collapse;
}

em {
	color: red;
	font-style: normal;
}

label {
	font-weight: bold;
}

hr {
	background-color: #dae8f5;
	border: 0;
	height: 1px;
	margin: 30px 10px 30px 10px;
}

input:focus, select:focus, textarea:focus, button:focus {
	box-shadow: 0px 0px 0px 2px #8dc3f5;
	outline: none;
}

/* Header */
#header-top {
	padding: 0 50px;
	height: 100px;
}

#header-top-text {
	float: right;
	font-size: .75em;
	padding-top: 25px;
}

#header-title {
	font-size: 1.875em;
	color: #fff;
	margin: 0;
	height: 80px;
	padding: 0;
	margin: 0;
	font-weight: normal;
	line-height: 2.5em;
}

#ghostery-about {
	width: 220px;
	float:left;
	padding-top: 20px;
}

#header-bottom {
	padding: 0 50px;
	background-color: #63bae5;
	height: auto;
	max-height: 120px;
	margin: 0;
	position: relative;
}

#header-rate-survey a {
	font-weight: bold;
}

#walkthrough-link {
	color: #fff;
	text-decoration: underline;
}

/* Tabs */
.tabs {
	list-style: none;
	font: .95em bold Helvetica;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-family: Helvetica;
	font-weight: bold;
}

.tabs li {
	float: left;
	cursor: pointer;
	background-color: #fff;
	height: 40px;
	width: 111px;
	text-align: center;
	color: #fff;
	background: url(../images/sprite_images/sprite/sprite_images.png) no-repeat center;	
	background-position :-605px -20px;
	line-height: 2.7em;
	padding: 0;
	margin: 0;
}

.tabs li:hover {
	background-position: -454px -20px;
}

.tabs li.active {
	color: #666;
	background: none;
	background-color: #fff;
	border-left: 1px solid #d7d7d7 !important;
	border-right: 1px solid #d7d7d7 !important;
	border-top: 1px solid #d7d7d7 !important;
	background-image: none;
}

.tabs.app-browser-tabs {
	font-size: 1em;
	margin-bottom: -5px;
}

.tabs.app-browser-tabs li {
	font-size: 1em;
	height: 39px;
	width: 177px;
	background: url(../images/sprite_images/sprite/sprite_images.png);
	background-position: -237px -20px;
	font-size: .9375em;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	float: left;
}

.tabs.app-browser-tabs:nth-of-type(1) {
	border-left-color: #d7d7d7;
}

.tabs.app-browser-tabs li:hover {
	background-position: -20px -20px;
}

.tabs.app-browser-tabs li.active {
	color: inherit;
	background-color: #fff;
	background-image: none;
}

/* Footer */
#footer {
	font-size: .7em;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 30px;
}

/* General */
.options-div {
	padding: 40px 50px 0 50px;
	border-top: 1px solid #d7d7d7;
}

.options-div > table > tbody > tr > th {
	vertical-align: top;
	text-align: left;
	width: 210px;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	padding-top: 30px;
	font-size: 1.125em;
	font-weight: normal;
}

.options-div > table > tbody > tr > td {
	vertical-align: middle;
	text-align: left;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	padding: 30px 50px 30px 50px;
	font-size: 1em;
}

.options-div > table > tbody > tr > td > p:nth-of-type(1) {
	padding-top: 0;
	margin-top: 0;
}

.options-div > table > tbody > tr > td > label,
	.options-div > table > tbody > tr > td > p > label {
	padding-left: 3px;
}

.options-div > table > tbody > tr > td > input,
	.options-div > table > tbody > tr > td > p > input {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

#buttons {
	padding-top: 20px;
}

.blue-buttons {
	width: 86px;
	height: 37px;
	background: url(../images/sprite_images/sprite/sprite_images.png) no-repeat center;	
	background-position: -1008px -18px;
	border: none;
	font-size: .875em;
	font-weight: normal;
	color: #fff;
	font-family: inherit;
	margin-right: 10px;
	box-shadow: 0px 1px 2px -1px #000;
	cursor: pointer;
}

.blue-buttons:hover {
	background-position: -756px -18px;
}

.blue-buttons:active {
	background-position: -882px -18px;
}

.blue-buttons[disabled], .blue-buttons[disabled]:hover, .blue-buttons[disabled]:active {
	background-position: -1008px -18px;
	cursor: auto;
	opacity: .5;
	box-shadow: none;
}

.help {
	border-bottom: 1px dotted #0060bf;
	cursor: help;
}

#saving-options-notice {
	display: table;
	position: fixed;
	z-index: 2147483647;
	background-color: #000;
	opacity: .9;
	height:	139px;
	width: 225px;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	margin-left: -112.5px;
	margin-top: -69.5px;
	color: #fff;
	font-size: 1.3em;
	visibility: hidden;
}

#saving-options-notice div {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#saving-options-notice-overlay {
	display: none;
	position: fixed;
	z-index: 2147483646;
	background-color: rgba(0, 0, 0, .3);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* block by default helper */

#block-default-message {
	font: 12px 'Helvetica Neue', 'Helvetica';
	color: #fff;
	background-color: #000;
	opacity: 0.8;
	border-radius: 5px;
	padding: 5px 10px;
	position: fixed;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	top: 0px;
	display:none;
	width: 270px;
	left: 50%;
	margin-left: -125px;
}

#block-default-message a {
	color: #fff;
	text-decoration: underline;
	margin-left: 10px;
	margin-right: 10px;
}

#block-default-msg-close {
	position: absolute;
	background: url('../images/panel/tutorial/sprite_images/sprite/sprite_images.png') no-repeat center;
	background-position: -20px -20px;
	height: 20px;
	width: 20px;
	top: 2px;
	cursor: pointer;
}

#block-default-msg-close:hover {
	background-image: url('/images/panel/tutorial/close_hover.png')
}
