/* Header */
#walkthrough-progress .active {
	background-color: #0d6aac;
}

#walkthrough-progress {
	margin: 45px 0 10px -35px;
	position: absolute;
	top: 0;
	left: 50%;
}

.circle {
	background-color: #dae8f5;
	border-radius: 4px;
	display: block;
	float: left;
	font-size: 1px;
	height: 8px;
	margin: 3px;
	width: 8px;
}

#skip-button {
	float: right;
	font-size: 1em;
}

#header-bottom {
	padding: 0 13%;
}

#header-top {
	padding: 0 13%;
}

/* Footer */
#footer th {
	width: 0px;
}

#footer td {
	padding-left: 0px !important;
}

/* General */
.arrow {
	cursor: pointer;
	height: 100%;
	position: fixed;
	text-align: center;
	width: 81px;
	outline: none;
	background: url(../images/sprite_images/sprite/sprite_images.png) no-repeat center;		
}

#arrow-prev {
	background-position: -1134px 118px;
	left: 3%;
}

#arrow-next {
	background-position: -1255px 118px;
	right: 3%;
}

#arrow-next:hover {
	background-position: -1497px 118px;
}

#arrow-prev:hover {
	background-position: -1376px 118px;
}

img.example {
	border: 1px solid #d7d7d7;
	float: left;
	margin: 2px 20px 10px 5px;
	padding: 5px;
}

.options-div {
	border-top: none;
	padding-left: 13% !important;
	padding-right: 13% !important;
}
