.original-tweet .stream-item-header li.ril-fade-action {
	background-image: url(chrome-extension://__MSG_@@extension_id__/sites/twitter/twitter_web_sprite_bgs.png) !important;
}

a.pocket-action i{
	-webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/sites/twitter/twitter-mask.png) !important;
}

.slideshow-tweet .a.pocket-action i, .route-permalink a.pocket-action i{
	-webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/sites/twitter/twitter-mask-large.png) !important;
}